
<% @hotel.comment.desc.each do |comment| %>
    <div class="content">
      <%=link_to comment.user.name, comment.user %>
      <%= time_ago_in_words(comment.created_at) %>
      <br/>
      <%= comment.content %>
      <div class="delete">
        <% if current_user?(comment.user) %>  <br/>
            <%= link_to "delete", comment, method: :delete,
                        data: { confirm: "You sure?" } %>
        <% end %>
      </div>
    </div>



    <br/>
<% end %>