/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.cleaner { clear: both }
.float_left { float: left }
.float_right { float: right }
.center { text-align: center;}
.block {display: block;}
.invisible {display: none;}


*{
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;

}

p, h1, h2, h3, h4, h5, h6, a {
    margin: 0;
}


h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
h1{
    font-size: 1.5em;
}
html{
    height: 100%;
}
body {
    font-family: "verdana", Helvetica, Arial, sans-serif;
    font-size: 0.85em;
    cursor: default;
    position: relative;
    height: 100%;
    width: 100%;
    background: white;
    margin: 0;
}
.info_hotel{
    margin-left: 155px;
    margin-top: -150px;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;

}
.rating{
    margin-left: 10px;
}
.content{
    margin-left: 10px;
    width: 750px;
    height: 70px;
    border-radius: 3px;
    background-color: rgba(232, 232, 232, 0.30);
}
.delete_index{
    margin-left: 800px;
    margin-top: -30px;
}
.line{
    width: 850px;
    height: 20px;
    background-color: rgba(232, 232, 232, 0.30);
}
.delete{
    margin-left: 700px;
    margin-top: -27px;
}
.user_name_left{
    margin-right: -1500px;
}
.img{
    border-radius: 2px;

}
.address{
    margin-left: 720px;
    margin-top: -50px;

}
/*flash messages*/
.flash_box {
    position: fixed;
    top: 0;
    left: 33%;
    width: 34%;
    z-index: 500;
}
.flash_box .flash {
    padding: 5px;
    color: white;
    text-align: center;
}
.flash_box .flash span {
    float: left;
    cursor: pointer;
    font-weight: bolder;
    font-size: 0.8em;
    padding-top: 0.1em;
    height: 1.5em;
    width: 1.6em;
    color: #e8e8e8;
}
.flash_box .flash.success {
    background-color: rgba(81, 163, 81, 0.8);
}
.flash_box .flash.success span {
    background-color: #51a351;
}
.flash_box .flash.error {
    background-color: rgba(189, 54, 47, 0.8);
}
.flash_box .flash.error span {
    background-color: rgba(132, 51, 48, 0.8);
}
.flash_box .flash.notice {
    background-color: #006699;
}
.flash_box .flash.notice span {
    background-color: #006699;
}
